body {
    background: url('../images/background.png') repeat;
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    background: #EFEFEF;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

li {
    list-style: none;
}

blockquote {
    border-left: 4px solid gainsboro;
    padding-left: 15px;
    margin: 0 15px;
}

textarea {
    vertical-align: top;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.left-side {
    width: 635px;
    float: left;
}

.right-side {
    width: 250px;
    float: right;
}

.container {
    width: 900px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#header_holder {
    margin: 0;
    width: 100%;
    height: 72px;
    background: url('../images/header.png') repeat-x 0 -20px;
}

.link-holder {
    padding-top: 10px;
    height: 62px;

}

.link-holder li {
    margin: 0 15px 0 10px;
    float: left;
    height: 62px;
}

.link-holder li a {
    line-height: 62px;;
    font-size: 18px;
    color: #6F889A;
    text-shadow: 1px 1px 2px #0B2C45;
    /*height: 62px;*/
    display: block;
}

.link-holder li a:hover {
    color: white;
}

.link-holder li a.active {
    background: url("../images/header.png") no-repeat center 51px;
    color: white;
}

.link-holder #add_blog {
    width: 20px;
    height: 20px;
    background-image: url("../images/header2.png");
    background-repeat: no-repeat;
    background-position: -27px -15px;
    line-height: 62px;
    margin-top: 20px;
}

.link-holder #add_blog:hover {
    background-position: -97px -15px;
}

#header {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: white;

}

.blog-holder, .home-holder, #logo_holder {
    float: left;
    margin: 25px;
    font-size: 20px;
}

#logo_holder {
    display: block;
}

#logo_holder h1 {
    line-height: 0.5;
}

#logo_holder h1 a {
    color: #ccc;
    text-shadow: 1px 1px 2px #002a80;
}

#logo_holder h1 a:hover {
    color: white;
}

.opt-holder ul {
    float: right;
    margin-top: 10px;
}

.opt-holder li {
    float: right;
    margin: 0 10px 0 10px;
}

.opt-holder li a {
    background-image: url("../images/header2.png");
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

.opt-holder #discover a {
    background-position: 0 -98px;
}

.opt-holder #discover a:hover {
    background-position: 0 -128px;
}

.opt-holder #setting a {
    background-position: -72px -98px;
}

.opt-holder #setting a:hover {
    background-position: -72px -128px;
}

.opt-holder #logout a {
    background-position: -109px -98px;
}

.opt-holder #logout a:hover {
    background-position: -109px -128px;
}

.opt-holder {
    float: right;
    margin: 25px;
    font-size: 20px;
    color: white;
}

.feed .feed-avatar a.blog-avatar {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    background-position: center center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-indent: -9999px;
    outline: none;
    border: none;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    background-color: #B0B3B6;
}

.publisher .pb-avatar a.blog-avatar {
    display: block;
    width: 64px;
    height: 64px;
    background-position: center center;
    text-indent: -9999px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
}

a.blog-avatar:active {
    top: 1px;
    opacity: 0.9;
    *filter: Alpha(Opacity = 90);
}

.feed {
    margin: 10px 0;
    color: #444;
    padding: 5px 0;
    position: relative;
}

.feed .feed-avatar {
    float: left;
    position: relative;
    width: 64px;
    height: 64px;
    zoom: 1;
}

.publisher .pb-avatar {
    float: left;
    position: relative;
}

.feed-content-holder {
    margin: -1px -9px -4px;
    width: 554px;
    float: right;
    position: relative;
    zoom: 1;
}

.feed .pop-triangle {
    height: 20px;
    width: 13px;
    position: absolute;
    left: -11px;
    top: 25px;
    background: url('../images/feed-icons.png') no-repeat 0 -150px;
}

.feed-ft-bottom, .feed-container-bottom {
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url('../images/feed-bg-sprites.png') -600px bottom no-repeat;
}

.feed .link-to-post-holder {
    position: absolute;
    right: -2px;
    top: -3px;
    z-index: 1;
    background-color: #EFEFEF;
    width: 32px;
    height: 25px;
}

.feed a.link-to-post {
    display: block;
    text-indent: -9999px;
    outline: none;
    background: url("../images/feed-icons.png") no-repeat 0 -90px;
    width: 30px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 8px;
}

.feed a, .feed a:visited, .feed a:link, .feed a:active {
    color: #b4b4b4;
}

.feed a:hover {
    color: #8F8F8F;
}

.feed-container-top {
    height: 5px;
    background: url('../images/feed-bg-sprites.png') 0 0 no-repeat;
}

.feed .pop-content {
    background: url('../images/feed-bg-sprites.png') -1200px 0 repeat-y;
}

.feed::after, .feed-hd::after, .feed-bd::after {
    content: " 20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.feed .feed-bd {
    padding: 0 22px 6px;
}

.feed .feed-hd {
    padding: 15px 22px 0;
    overflow: hidden;
}

.publisher {
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.publisher .pb-action-holder {
    float: left;
    width: 544px;
    position: relative;
    margin: -2px -2px -2px 19px;
}

.publisher .pb-triangle {
    height: 20px;
    width: 13px;
    background: url('../images/feed-icons.png') no-repeat 0 -150px;
    position: absolute;
    left: -11px;
    top: 24px;
    z-index: 1;
    overflow: hidden;
}

.pb-action-shadow-top {
    height: 5px;
    background: url('../images/feed-bg-sprites.png') 0 0 no-repeat;
}

.publisher .pb-action {
    background: url('../images/feed-bg-sprites.png') -1200px 0 repeat-y;
}

.pb-action-shadow-bottom {
    height: 10px;
    background: url('../images/feed-bg-sprites.png') -600px bottom no-repeat;
}

.m-nav2 {
    position: relative;
    z-index: 9;
    margin: 0 0 18px;
    padding: 1px 2px 3px;
    background-position: 0 0;
}

.m-nav2, .m-nav2 li, .m-nav2 a {
    height: 110px;
}

.m-nav2 li {
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    display: block;
    float: left;
    background-color: #f4f4f4;
}

.m-nav2 li:hover {
    background-color: #fcfcfc;
}

.m-nav2, .m-nav2 a {
    /*background: url('../images/nav.png') no-repeat 999px 999px;*/
}

.m-nav2 .user {
    position: relative;
    width: 110px;
    background: url('../images/nav.png') no-repeat;
}

.m-nav2 .user:hover {
    background-position: 0 -140px;
}

.m-nav2 .text {
    background: url('../images/nav.png') no-repeat -110px 0;
}

.m-nav2 .text:hover {
    background-position: -110px -140px;
}

.m-nav2 .photo {
    background: url('../images/nav.png') no-repeat -240px 0px;
}

.m-nav2 .photo:hover {
    background-position: -240px -140px;
}

.m-nav2 .music {
    background: url('../images/nav.png') no-repeat -370px 0px;
}

.m-nav2 .music:hover {
    background-position: -370px -140px;
}

.m-nav2 .video {
    background: url('../images/nav.png') no-repeat -500px 0px;
}

.m-nav2 .video:hover {
    background-position: -500px -140px;
}

.m-nav2 li a {
    display: block;
    width: 100%;
    height: 100%;
}

.m-nav2 li {
    float: left;
    width: 130px;
    margin: 0 0 -1px;
}

/*loginform*/

#login_page {
    background-color: #385774;
}

.login-form-container {
    width: 300px;
    margin: 150px auto 0 auto;
    padding: 20px;
}

#LoginForm_username, #LoginForm_password, #signup_email, #signup_nick, #signup_pass {
    width: 250px;
    line-height: 40px;
    height: 40px;
    border: none;
    background-color: whiteSmoke;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .2);
}

#LoginForm_username, #signup_email {
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    /*border-bottom: solid 1px #eee;*/
}

#LoginForm_password, #signup_pass {
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    /*border-top: solid 1px #eee;*/
}

.login-form-container [type=submit] {
    width: 250px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 35px;
    height: 37px;
    float: none;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .6);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .42);
    color: white;
    margin: 15px 0 0 0;

    background: #6AA5CF;
    background: -moz-linear-gradient(top, #6AA5CF 0, #5791BB 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6AA5CF), color-stop(100%, #5791BB));
    background: -webkit-linear-gradient(top, #6AA5CF 0, #5791BB 100%);
    background: -o-linear-gradient(top, #6AA5CF 0, #5791BB 100%);
    background: -ms-linear-gradient(top, #6AA5CF 0, #5791BB 100%);
    background: linear-gradient(top, #6AA5CF 0, #5791BB 100%);
    border-color: rgba(0, 0, 0, 0.65);
}

.login-form-container [type=submit]:active {
    background: #669dc5;
}

#login-form {
    width: 250px;
    margin: 0 auto 0 auto;
}

/*loginform*/

/*new blog*/
#new_blog_div, #setting_container, #account_box {
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.g-box3 {
    border-bottom: 1px solid #E1E1E1;
    padding: 26px 30px 16px;
    font-size: 32px;
    font-weight: normal;
}

.button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
}

.button:active {
    position: relative;
    top: 1px;
}

.error-box {
    display: none;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #C09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.field {
    margin-bottom: 20px;
}

.field h4 {
    margin-bottom: 10px;
    font-size: 20px;
    color: grey;
}

.field span {
    color: #888;
}

#new_blog_div input[type=text], #account_box input[type=password] {
    line-height: 35px;
    height: 35px;
    border: solid 2px #CCC;
    width: 350px;
    font-size: 15px;
    padding-left: 15px;
}

#new_blog_div input[type=text]:focus, #account_box input[type=password]:focus {
    border: solid 2px #777;
}

#new_blog_div .domain_all {
    position: relative;
    top: -50px;
    left: 240px;
    font-size: 15px;
    font-weight: bold;
}

/*new blog*/

.w-fttl {
    font-size: 32px;
    font-weight: normal;
}

.g-box2 {
    padding: 26px 30px 0 60px;
}

.g-box3 {
    padding: 26px 30px 16px;
    border-bottom: 1px solid #EBEBEB;
}

#setting_container a.w-go {
    float: right;
    font-size: 16px;
    display: block;
    padding: 5px;
    margin-top: 10px;
    border: solid 1px #CCC;
    text-align: center;
    background-color: grey;
    border-radius: 15px;
    color: white;
    width: 100px;
}

#setting_container a.w-go:hover {
    background-color: #747474;
}

#setting_container a.w-go:active {
    background-color: #999999;
}

#setting_container .g-box2 {
    padding-left: 0;
}

#setting_container .setting-item {
    float: left;
    height: 70px;
    font-size: 17px;
    padding: 10px;
}

#setting_container .setting-content {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.setting-content span.user-email {
    font-weight: bold;
    color: #ccc;
    font-size: 16px;
}

.acount-link {
    margin: 15px 0 0 0;
}

.acount-link a {
    color: #5A8DCD;
}

.acount-link a:hover {
    color: #7594B3;
}

.lf-container {
    width: 926px;
    padding: 0 0 2px;
    background: url('../images/postbg.png') no-repeat 999px 999px;
    background-position: -994px 0;
    background-repeat: repeat-y;
}

#blog_setting .setting-item {
    width: 70px;
    float: left;
    font-size: 15px;
    padding: 10px 10px 30px 0;
}

#blog_setting .setting-content {
    float: left;
    margin-top: 0;
    margin-left: 10px;
}

.blog_avatar img {
    border-radius: 5px;
}

.upload-img-box {
    z-index: 1;
    position: relative;
    padding: 0 10px 10px 10px;
}

.upload-operation #file {
    display: none;
}

.upload-operation {
    position: relative;
    top: -75px;
    left: 75px;
}

.normal-text {
    height: 25px;
    border: solid 2px #ccc;
    line-height: 25px;
    width: 300px;
}

#blog_setting .g-box2 {
    border-bottom: solid 1px #ccc;
}

.xiamiframe {
    width: 257px;
    height: 33px;
}

.xiami-container {
    width: 257px;
    height: 33px;
    padding: 0;
    float: left;
    margin-left: 20px;
}

.button-blue {
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 35px;
    height: 37px;
    float: none;
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    background: rgba(177, 211, 255, 0.11);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .25);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .25);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .25);
    min-width: 101px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-blue:hover, .button-blue:visited {
    color: white;
}

.button-blue:active {
    color: rgba(255, 255, 255, .7);
    background: rgba(177, 211, 255, 0.06);
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .19);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .19);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .19);
}

.right-top {
    position: absolute;
    top: 30px;
    right: 30px;
}

.message {
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #C09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 200px;
}

.feed .feed-ct {
    margin-bottom: 20px;;
}

.feed .feed-act {
    float: right;
    margin-right: 20px;
}

.feed .feed-basic {
    margin-bottom: 10px;
    color: #aaa;
    font-size: 13px;
}

.feed-bd .feed-fav {
    background: url("../images/feed-icons.png") no-repeat scroll -59px -27px;
    text-indent: -9999em;
    width: 16px;
    height: 16px;
}

.feed-bd .feed-act a {
    margin-left: 10px;
    float: right;
    height: 18px;
    line-height: 18px;
}

.feed-bd a.feed-fav:hover {
    background-position: -59px 2px;
    color: #8F8F8F;
}

.feed-bd a.feed-faved {
    background-position: -88px -57px;
    color: red;
}

.feed-bd a.feed-faved:hover {
    background-position: -120px -57px;;
    color: red;
}

.feed-bd .feed-tag {
    float: left;
    color: #A8B1BA;
    width: 200px;
    height: 22px;
    line-height: 14px;
    overflow: hidden;
    display: block;
}

.feed-bd .feed-tag a {
    float: left;
    margin-right: 6px;
    height: 19px;
    line-height: 19px;
    margin-bottom: 10px;
}

.feed-ft {
    padding: 0 1px;
    position: relative;
    zoom: 1;
    display: none;
}

.feed-ft-bottom {
    width: 544px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border: none;
}

.feed-ft .feed-ft-triangle {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background: url('../images/feed-ft-triangle.png') no-repeat;
}

.feed-comment, .feed-notes {
    background: url('../images/feed-bg-sprites.png') -2400px 0 repeat-y;
    margin: 0 1px;
    padding-top: 15px;
    position: relative;
    clear: both;
    border-bottom: solid 1px #ccc;
    width: 540px;
    padding-bottom: 20px;
}

.comment-container-bottom {
    background: url('../images/feed-bg-sprites.png') -1799px bottom no-repeat;
    height: 30px;
}

.slide-up {
    line-height: 30px;
    margin-left: 20px;
}

.feed-comment textarea {
    width: 370px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
    line-height: 25px;
    border: solid 1px #ccc;
}

.cmt-submit {
    background: url('../images/btn24.png') no-repeat 999px 999px;
    width: 104px;
    height: 40px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    background-position: 0 0;
    color: white;
    text-shadow: -1px -1px 0px #779E00;
    float: right;
    margin-right: 20px;
}

.cmt-submit:hover {
    background-position: -114px 0;
}

.cmt-item, .nt-item {
    display: block;
    border-bottom: solid 1px #CCC;
    margin-right: 20px;
}

.cmt-item-img, .nt-item-img {
    width: 24px;
    float: left;
    padding: 10px 0 5px 0;
}

.cmt-item-content, .nt-item-content {
    float: left;
    width: 380px;
    margin: 15px 10px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.cmt-item-delete, .cmt-item-reply {
    float: right;
    width: 50px;
    margin-top: 15px;
}

.cmt-item-delete a, .cmt-item-reply a {
    cursor: pointer;
}

.cmt-load-more, .nt-load-more {
    cursor: pointer;
    text-align: center;
    background-color: #CECECE;
    height: 30px;
    line-height: 30px;
    width: 500px;
    margin: 10px auto 0 auto;
}

.cmt-load-more:hover, .nt-load-more:hover {
    background-color: #BBB;
}

.feed-comment textarea {
    resize: none !important;
}

.cmt-item-reply-name {
    margin-right: 10px;
}

.cmt-item-name, .nt-item-name {
    margin-right: 10px;
}

.feed-fold-container {
    display: none;
}

#loading_more {
    margin: 10px 200px 50px 250px;
    display: none;
}

.scroll-to-top, .scroll-to-top:link, .scroll-to-top:visited {
    cursor: pointer;
    position: fixed;
    text-indent: -9999px;
    display: none;
    width: 42px;
    height: 42px;
    bottom: 30px;
    left: 50%;
    margin-left: 200px;
    outline: none;
    background: url("../images/feed-icons.png") no-repeat -200px -60px;
}

.scroll-to-top:active, .scroll-to-top:hover {
    background-position: -250px -60px;
}

/* sidebar */
.m-menu .menum {
    padding: 0 2px;
    zoom: 1;
    background-position: -246px 0;
    background-repeat: repeat-y;
}

.m-menu ul {
    float: left;
    width: 100%;
    margin: -3px 0 -1px;
    overflow: hidden;
    zoom: 1;
    box-shadow: 1px 1px 2px rgb(201, 201, 201);
}

.m-menu li {
    transition: background-color 0.3s, height 0.3s, opacity 0.3s;
    -webkit-transition: background-color 0.3s, height 0.3s, opacity 0.3s;
    -moz-transition: background-color 0.3s, height 0.3s, opacity 0.3s;
    -o-transition: background-color 0.3s, height 0.3s, opacity 0.3s;
}

.m-menu li {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    height: 38px;
    background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: inset 0 0 2px #C6C8CB;
}

.m-menu li:hover {
    background-color: white;
}

.m-menu li.first {
    border-radius: 5px 5px 0 0;
}

.w-sel, .w-sel .selicn, .w-icn, .w-opt .opta, .w-more, .m-menu .icn, .m-menu .set, .m-ssch button, .m-ssch2 button, .w-close, .w-ii, .m-icnt .zoomi, .w-opt .opticrt, .w-more2 span, .w-tip, .w-tip .tipc, .w-close, .w-icancel, .w-iadd, .w-help, .m-filecnt .music .type, .m-filecnt .movie .type, .m-goodblog .new {
    background: url('../images/icon24.png') no-repeat 999px 999px;
}

.m-menu .first .mi {
    padding-top: 11px;
    display: block;
}

.m-menu .mi {
    float: left;
    width: 100%;
    height: 17px;
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #fff;
    line-height: 15px;
    font-size: 14px;
}

.m-menu .txt {
    float: left;
    width: 140px;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    margin-right: -120px;
    white-space: nowrap;
    color: #444;
}

.m-menu .icn {
    float: left;
    width: 25px;
    height: 17px;
    margin: 0 0 0 16px;
    overflow: hidden;
}

.m-menu .noipt {
    height: 32px;
    border-color: #b2b2b2;
    background-color: #e7e7e7;
    background-position: -1148px -1px;
    box-shadow: inset 0 1px 3px #8B8B8B;
}

.m-menu .noipt .mi {
    padding-top: 8px;
    padding-bottom: 7px;
    border: 0;
    font-size: 12px;
}

.m-menu .icn-3 {
    background-position: 0 -434px;
}

.m-menu .icn-2 {
    background-position: 0 -364px;
}

.m-menu .icn-1 {
    background-position: 0 -289px;
}

.m-menu .noipt .txt {
    color: #888;
}