body {
    background: url('../images/background.png') repeat;
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

li {
    list-style: none;
}


.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.left-side {
    width: 635px;
    float:left;
}

.right-side {
    width: 250px;
    float: right;
}

.container {
    width: 900px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#header_holder {
    margin: 0;
    width: 100%;
    height: 72px;
    background-color: #2C4762;
}

#header {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.blog-holder, .home-holder, #logo_holder {
    float: left;
    margin: 25px;
    font-size: 20px;
}

.opt-holder {
    float: right;
    margin: 25px;
    font-size: 20px;
    color: white;
}

.feed .feed-avatar a.blog-avatar {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    background-position: center center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-indent: -9999px;
    outline: none;
    border: none;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    background-color: #B0B3B6;
}

.publisher .pb-avatar a.blog-avatar {
    display: block;
    width: 64px;
    height: 64px;
    background-position: center center;
    text-indent: -9999px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
}

a.blog-avatar:active {
    top: 1px;
    opacity: 0.9;
    *filter: Alpha(Opacity = 90);
}

.feed {
    margin: 10px 0;
    color: #444;
    padding: 5px 0;
    position: relative;
}

.feed .feed-avatar {
    float: left;
    position: relative;
    width: 64px;
    height: 64px;
    zoom: 1;
}

.publisher .pb-avatar {
    float: left;
    position: relative;
}

.feed-content-holder {
    margin: -1px -2px -4px;
    width: 554px;
    float: right;
    position: relative;
    zoom: 1;
}

.feed .pop-triangle {
    height: 20px;
    width: 13px;
    position: absolute;
    left: -11px;
    top: 25px;
    background: url('../images/feed-icons.png') no-repeat 0 -150px;
}

.feed-ft-bottom, .feed-container-bottom {
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url('../images/feed-bg-sprites.png') -600px bottom no-repeat;
}

.feed .link-to-post-holder {
    position: absolute;
    right: -2px;
    top: -3px;
    z-index: 1;
    background: url('../images/background.png') repeat;
    width: 25px;
    height: 26px;
}

.feed-container-top {
    height: 5px;
    background: url('../images/feed-bg-sprites.png') 0 0 no-repeat;
}

.feed .pop-content {
    background: url('../images/feed-bg-sprites.png') -1200px 0 repeat-y;
}

.feed::after, .feed-hd::after, .feed-bd::after {
    content: " 20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.feed .feed-bd {
    padding: 0 22px 6px;
}

.feed .feed-hd {
    padding: 15px 22px 0;
    overflow: hidden;
}

.publisher {
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.publisher .pb-action-holder {
    float: left;
    width: 544px;
    position: relative;
    margin: -2px -2px -2px 19px;
}

.publisher .pb-triangle {
    height: 20px;
    width: 13px;
    background: url('../images/feed-icons.png') no-repeat 0 -150px;
    position: absolute;
    left: -11px;
    top: 24px;
    z-index: 1;
    overflow: hidden;
}

.pb-action-shadow-top {
    height: 5px;
    background: url('../images/feed-bg-sprites.png') 0 0 no-repeat;
}

.publisher .pb-action {
    background: url('../images/feed-bg-sprites.png') -1200px 0 repeat-y;
}

.pb-action-shadow-bottom {
    height: 10px;
    background: url('../images/feed-bg-sprites.png') -600px bottom no-repeat;
}


.m-nav2 {
    position: relative;
    z-index: 9;
    margin: 0 0 18px;
    padding: 1px 2px 3px;
    background-position: 0 0;
}

.m-nav2, .m-nav2 li, .m-nav2 a {
    height: 110px;
}

.m-nav2 li {
    display: block;
    float: left;
}

.m-nav2, .m-nav2 a {
    /*background: url('../images/nav.png') no-repeat 999px 999px;*/
}

.m-nav2 .user {
    position: relative;
    width: 110px;
    background: url('../images/nav.png') no-repeat;
}
.m-nav2 .user:hover {
    background-position: 0 -132px;
}

.m-nav2 .text {
    background: url('../images/nav.png') no-repeat -115px 0;
}

.m-nav2 .text:hover {
    background-position: -115px -132px;
}

.m-nav2 .photo {
    background: url('../images/nav.png') no-repeat -255px 0px;
}

.m-nav2 .photo:hover {
    background-position: -255px -132px;
}

.m-nav2 .music {
    background: url('../images/nav.png') no-repeat -395px 0px;
}

.m-nav2 .music:hover {
    background-position: -395px -132px;
}

.m-nav2 .video {
    background: url('../images/nav.png') no-repeat -535px 0px;
}

.m-nav2 .video:hover {
    background-position: -535px -132px;
}

.m-nav2 li a {
    display: block;
    width: 100%;
    height: 100%;
}

.m-nav2 li {
    float: left;
    width: 130px;
    margin: 0 0 -1px;
}