body {
    background: url('../images/background.png') repeat;
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}
.left-side{
    width: 635px;
}
.right-side{
    width: 250px;
}
.container{
    width: 900px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#header_holder {
    margin: 0;
    width: 100%;
    height: 72px;
    background-color: #2C4762;
}

#header {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.blog-holder, .home-holder, #logo_holder {
    float: left;
    margin: 25px;
    font-size: 20px;
}

.opt-holder {
    float: right;
    margin: 25px;
    font-size: 20px;
    color: white;
}

.feed .feed-avatar a.blog-avatar {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    background-position: center center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-indent: -9999px;
    outline: none;
    border: none;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    background-color: #B0B3B6;
}
.publisher .pb-avatar a.blog-avatar {
    display: block;
    width: 64px;
    height: 64px;
    background-position: center center;
    text-indent: -9999px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
    box-shadow: 0 1px 2px #B0B3B6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #B0B3B6;
}

a.blog-avatar:active {
    top: 1px;
    opacity: 0.9;
    *filter: Alpha(Opacity = 90);
}

.feed {
    margin: 10px 0;
    color: #444;
    padding: 5px 0;
    position: relative;
}

.feed .feed-avatar {
    float: left;
    position: relative;
    width: 64px;
    height: 64px;
    zoom: 1;
}
.publisher .pb-avatar {
    float: left;
    position: relative;
}

.feed-content-holder {
    margin: -1px -2px -4px;
    width: 554px;
    float: right;
    position: relative;
    zoom: 1;
}

.feed .pop-triangle {
    height: 20px;
    width: 13px;
    position: absolute;
    left: -11px;
    top: 25px;
    background: url('../images/feed-icons.png') no-repeat 0 -150px;
}

.feed-ft-bottom, .feed-container-bottom {
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url('../images/feed-bg-sprites.png') -600px bottom no-repeat;
}

.feed .link-to-post-holder {
    position: absolute;
    right: -2px;
    top: -3px;
    z-index: 1;
    background: url('../images/background.png') repeat;
    width: 25px;
    height: 26px;
}

.feed-container-top {
    height: 5px;
    background: url('../images/feed-bg-sprites.png') 0 0 no-repeat;
}

.feed .pop-content {
    background: url('../images/feed-bg-sprites.png') -1200px 0 repeat-y;
}

.feed::after, .feed-hd::after, .feed-bd::after {
    content: " 20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.feed .feed-bd {
    padding: 0 22px 6px;
}

.feed .feed-hd {
    padding: 15px 22px 0;
    overflow: hidden;
}

.publisher {
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}
.publisher .pb-action-holder {
    float: left;
    width: 544px;
    position: relative;
    margin: -2px -2px -2px 19px;
}
.publisher .pb-triangle {
    height: 20px;
    width: 13px;
    background: url('../images/feed-icons.png') no-repeat 0 -150px;
    position: absolute;
    left: -11px;
    top: 24px;
    z-index: 1;
    overflow: hidden;
}
.pb-action-shadow-top {
    height: 5px;
    background: url('../images/feed-bg-sprites.png') 0 0 no-repeat;
}
.publisher .pb-action {
    background: url('../images/feed-bg-sprites.png') -1200px 0 repeat-y;
}.pb-action-shadow-bottom {
     height: 10px;
     background: url('../images/feed-bg-sprites.png') -600px bottom no-repeat;
 }

.publisher .pb-action ul {
    margin: 0;
    padding: 10px 20px 5px;
}
.publisher .pb-action li {
    float: left;
}
.publisher .pb-action li a {
    display: block;
    width: 100px;
    height: 74px;
    background: url('../images/publisher.png') no-repeat 0 0;
    text-indent: -9999px;
    outline: none;
}
.publisher .pb-action li a:hover {
    background-position: 0 -74px;
}
.publisher .pb-action .music {
    background-position: -200px 0;
}
.publisher .pb-action .music:hover {
    background-position: -200px -74px;
}
.publisher .pb-action .photo {
    background-position: -100px 0;
}
.publisher .pb-action .photo:hover {
    background-position: -100px -74px;
}
.publisher .pb-action .video {
    background-position: -300px 0;
}
.publisher .pb-action .video:hover {
    background-position: -300px -74px;
}
.publisher .pb-action .link {
    background-position: -400px 0;
}
.publisher .pb-action .link:hover {
    background-position: -400px -74px;
}
