.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

body {
    background: #f5f5f5;
}

a {
    text-decoration: none;
    color: #bbb;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

a:hover {
    color: #555;
}

.pages {
    margin-bottom: 100px;
}

.pages li {
    list-style: none;
    display: block;
    float: left;
    font-size: 12px;
    margin: 2px 5px;
}

.pages .hidden {
    /*display: none;*/
}

.pages .selected {
    border-bottom: solid 1px #ccc;
}

ul.pages {
    width: 500px;
    margin: 0 auto;
}

.pages .first {

}

.pages .previous {

}

.pages .page {

}

.pages .next {

}

.pages .last {

}

.feed {
    border-bottom: solid 1px #aaa;
    margin: 20px;
    margin-left: 40px;
}

.feed .feed-basic {
    font-size: small;
    margin-bottom: 5px;
    color: #aaa;
}

.feed .feed-bd {
    margin: 10px 0 5px 20px;
}

.feed .feed-ct {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #222;
}

.feed-zone, .content {
    width: 860px;
    margin: 10px auto;
    border: solid 1px #CCC;
    background: white;
}

.feed .feed-op {
    font-size: small;
}

.feed .feed-time {
    float: left;
    margin-right: 20px;
}

.feed .feed-action * {
    margin: 0 10px;
}

.xiami-container {
    margin-left: 200px;
}

.blog-info {
    width: 100px;
    height: 150px;
    position: fixed;
    right: 10px;
    padding: 10px 15px;
    background-color: rgba(13, 161, 231, 0.2);
    top: 10px;
    z-index: 100;
}

.blog-info .avatar {
    float: left;
    margin-left: 18px;
}

.blog-info .avatar img {
    border-radius: 7px;
    box-shadow: 1px 1px 5px black;
}

.blog-info .btn {
    display: block;
    width: 48px;
    font-size: small;
    text-align: center;
    float: left;
    background-color: #CCC;
    margin: 1px;
    border-radius: 5px;
    color: black;
}

.blog-info .btn:hover {
    background-color: #a7a7a7;
}

.blog-name {
    float: left;
    font-size: 17px;
    text-align: center;
    width: 100%;
    margin: 8px 0;
}

.content {
    width: 860px;
    margin: 20px auto;
    padding: 20px;
}

.content .feed-ct {
    margin-top: 20px;
}

.content .feed-time {
    font-size: small;
}

.content .feed-op {
    margin-top: 20px;
}

.back-home {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}